---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---
<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog/part-1-domain">Part 1: Domain</HeaderLink>
			<HeaderLink href="/blog/part-2-ml-technologies">Part 2: Tech</HeaderLink>
			<HeaderLink href="/blog/part-3-ethical-implications">Part 3: Ethics</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header { margin: 0; padding: 0 1em; background: white; box-shadow: 0 2px 8px rgba(var(--black), 5%); }
	h2 { margin: 0; font-size: 1em; }
	nav { display: flex; align-items: center; justify-content: space-between; }
	.internal-links { display: flex; gap: 1em; }
</style>
